# 前端
node_modules/
dist/
*.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
ENV/
.DS_Store

# Django
db.sqlite3
db.sqlite3-journal
/media/
/static/
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
